@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400);
body {
    font: normal normal 12px/160% "Open Sans", Verdana, Helvetica, sans-serif;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALElEQVQIW2NkwAI+fvz4nxFdHCTIz8/PiCIBEwQphksgC8Il0AXBEtgEQRIA8GcX2UKjGmkAAAAASUVORK5CYII=);
    color: #333;
}

section {
    background: #fff;
    margin-bottom: 40px;
    padding-bottom: 20px;
    position: relative;
    box-shadow: 0px 0px 2px 2px #eee;
}

section ul {
    font-size: 14px;
    list-style: none;
    margin: 10px 20px;
    padding: 0;
}

section li {
    display: inline-block;
    margin-left: 20px;
}

section .aa-links {
    position: absolute;
    right: 0;
    top: 0
}

h2 {
    font-size: 48px;
    padding: 30px 20px 10px 20px;
    margin: 0;
    color: #fff;
    background: #555;
}

h2 sub {
    font-size: 16px;
    line-height: 24px;
}

h2 sub div {
    font-weight: normal;
}

li .fa {
    font-size: 18px;
    vertical-align: middle;
}

a {
    color: #fff;
}

a:hover {
    color: #111;
}

.container a {
    color: #546DE8;
}

.AA-cf:before,
.AA-cf:after {
    content: '';
    display: table;
}

.AA-cf:after {
    clear: both;
}

.AA-page {
     width: 1064px;
     margin: 0 auto;
}

.AA-description {
    margin: 30px 20px 0 20px;
}

.AA-description div {
    padding: 2px 0;
    color: #555;
    display: inline;
}

.AA-charts {}

.AA-charts .aa-chart {
    margin: 0 0 0 20px;
    display: inline-block;
    background: #fff;
}

.AA-charts h3 {
    margin: 0 0 0 0;
    display: inline-block;
    font-weight: normal;
    font-size: 12px;
    background: #eee;
}

.AA-charts p {
    margin: 0 0 0 0;
    font-size: 12px;
    background: #eee;
    display: inline-block;
}

.AA-charts section .chart {
    background: #fff;
    width: 450px;
    height: 300px;
    display: block;
}

.AA-charts .container {
    display: inline-block;
    margin-top: 10px;
    width: 1024px;
}

.AA-charts .container img {
    margin-bottom: 20px;
}

.AA-charts .container a {
    margin: 10px 0;
    display: inline-block;
}

.AA-3d {
    margin: 40px 20px 0 20px;
    text-align: center;
}

.gist, .gist-it-gist {
    width: 1024px;
    float: left;
}

.gist .gist-file,
.gist-it-gist .gist-file {
    margin: 0!important;
}
